# Django environment variables
DJANGO_SECRET_KEY=dev-secret-key-change-in-production
DEBUG=True

# Database
# Optional: use DATABASE_URL directly for Render or hosted Postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/neural_village
DB_NAME=neural_village
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1,lvh.me,.lvh.me

# Payment gateway
PAYMENT_GATEWAY=paystack
PAYSTACK_SECRET_KEY=sk_test_4ff29d67852b86cfef099789a2604694c4a53509
PAYSTACK_PUBLIC_KEY=pk_test_44194af47b22813bfd8b6836941d8460408f5247
BASE_PUBLIC_URL=http://localhost:8000
